<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="refresh" content="100" >
		<title>codathon ~ leaderboard</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>
		
		
		        <script type="text/javascript">
				
				/*
				* If contest is not started, dont show result div.
				*/
				function checkContestState(contestState) 
				{
					// 0-  Not Started
					// 1- Ongoing
					// 2- End
					if(contestState == 0)
					{
						$('#resultDiv').hide()						
					}					
					else if(contestState == 1 ||contestState == 2)
					{
						$('#resultDiv').show()					
					}					
					else
					{
						// Do Nothing special here
					}
				}
				function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) 
			{
                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                  setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }
				</script>

        <style type="text/css">
            .rank {
                width: 8%;
                float: left;
                padding: 0 1%;
            }
            .team {
                width: 60%;
                float: left;
                font-style: italic;
            }
            .points {
                width: 14%;
                float: left;
            }
            .time {
                width: 16%;
                float: left;
            }
            .leaderboard-heading {
                margin-bottom: .5em;
                padding: 0;
            }
            .contentContainer {
                height: 1em;
                line-height: 1.2em;
            }
        </style>
    </head>
	<body>
        {{wrapperElementStart}}
		<div id="countDownBox">{{countDownBoxMarkUp}}</div>		
		
        <div id="resultDiv" style="text-align: left;dispaly:none">
            <div class="contentHeading">Leaderboard</div>
            <div class="contentContainer" style="border-bottom: 1px dotted #eee;">
                <div class="rank leaderboard-heading" style="width: 10%;"><i>Rank</i></div>
                <div class="team leaderboard-heading"><i>Team</i></div>
                <div class="points leaderboard-heading"><i>Points</i></div>
                <div class="time leaderboard-heading"><i>Time Taken</i></div>
            </div>
		
		
		{% if leaderboard|length %}
		{% for team in leaderboard %}
			 <div class="contentContainer" style="background: {{ loop.cycle('#222', '#111') }}; ">
                    <div class="rank">{{ loop.index }}</div>
                    <div class="team">{{team.get_team_name()}}</div>
                    <div class="points">{{team.get_team_score()}}</div>
                    <div class="time">{{team.get_formatted_total_time_taken()}}</div>
                </div>					
            {% endfor %}
			 {% else %}
                <div class="contentContainer">There are no Results at this time...</div>
            {% endif %}

		</div>
<div id="contestState">{{contestState}}</div>		
        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
