<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ questions</title>		
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
		<link rel="stylesheet" href="../css/watermarkify.css" type="text/css" />
		<!--<link href="../css/styles.css" rel="stylesheet" type="text/css" /> -->
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>        
        <script src="../js/json2.js" type="application/javascript"></script>        
		   
        <script type="application/javascript">
		
			/*
				* If contest is not started, dont show result div.
				*/
				function checkContestState(contestState) 
				{
					// 0-  Not Started
					// 1- Ongoing
					// 2- End
					alert('contest state is '+contestState);
					if(contestState == 0)
					{
						
						$('#resultDiv').hide()						
						$('#mainContent').hide()						
					}					
					else if(contestState == 1 )
					{
						$('#resultDiv').show()					
					}	
					else if(contestState == 2)
					{
						$('#resultDiv').hide()						
						$('#mainContent').hide()
					}
					else
					{
						// Do Nothing special here
					}
				}
		

		function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) {
				alert('hello')
                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }       
</script>			
	</head>
	<body>    
        {{wrapperElementStart}}
		<div id="countDownBox">{{countDownBoxMarkUp}}</div>

        {{wrapperElementEnd}}
        {{footerElement}}


	</body>
</html>
