<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ questions</title>		
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />

		<!--<link href="../css/styles.css" rel="stylesheet" type="text/css" /> -->
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>        
        <script src="../js/json2.js" type="application/javascript"></script>        

        <script type="text/javascript">
		
			/*
				* If contest is not started, dont show result div.
				*/
				function checkContestState(contestState) 
				{
					// 0-  Not Started
					// 1- Ongoing
					// 2- End
					if(contestState == 0)
					{						
						$('#resultDiv').hide()						
						$('#mainContent').hide()	
						$('#teamDetails').hide()						
					}					
					else if(contestState == 1 )
					{
						url = getUrlVars()
						var teamCode = url['teamCode']
						
						// For refresh page functionality
						$('#_current_question_id').val(-1)

						if(isValid(teamCode) && teamCode)
						{
							$('#resultDiv').show()						
							$('#mainContent').show()
							$('#teamCode').val(teamCode)
							checkSolution(false)
						}
						else
						{
							// No Action Required
							// User need to go to login page first
							alert('Please Login to enter.')
						}
									
					}	
					else if(contestState == 2)
					{
						$('#resultDiv').hide()						
						$('#mainContent').hide()
						$('#teamDetails').hide()						
					}
					else
					{
						// Do Nothing special here
					}
				}
		
		function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
		function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) {

                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }
            function checkSolution(showRightWrongMessage)
            { 

				url = getUrlVars()
				teamCode= url['teamCode']
				if(isValid(teamCode))
				{
					$('#teamCode').val(url['teamCode'])
				}
				else
				{
					// Show messae to user and return
					alert("Server Side Issue. Please login again");
					return;
				}
				
				var timestamp = Math.round((new Date()).getTime() / 1000)
				$('#submit_timestamp').val(timestamp)
				
				
                $.ajax({
      url: '/checkResult',
/* eg:       data: { name: "John", location: "Boston", sol:"hello" },*/
				data:$("#questionForm").serialize(),
				success: function(data) {
      
				var result = JSON.parse(data);
      
				var isSuccess = result['_isSuccess'];
				$('#mainContent').show()
				$('#teamDetails').show()
				
				if(isValid(isSuccess) && isSuccess == 'true')
				{
					var teamName = result['_teamName'];
					$("#teamName").html(teamName)		
					var isNextQuestionAvailable = result['_questionAvailable']
					if(isValid(isNextQuestionAvailable) && isNextQuestionAvailable == 'true')
					{					
						if($('#_current_question_id').val() != -1)
						{
					
							$('#correct').show()
							$('#correct').fadeOut(3000)
						}
							
						var _current_question_id = result['_current_question_id'];
						$('#_current_question_id').val(_current_question_id)
						$("#currentQuestion").html(_current_question_id)
					
						var question = result['_question']
						$('#questionTA').html(question)		
						$('#userSol').val('Your answer here...')
						
						var testcaselink= result['_testcase']
						$('#testcaselink').attr("href", testcaselink)				
					
					}
					else
					{
						$("#currentQuestionDiv").hide()
						$('#mainContent').hide()
						$('#allDone').show()
					}
				}
				else  
				{
					if(showRightWrongMessage)
					{
						$('#wrong').show();
						$('#wrong').fadeOut(3000);
					}
				}
			},
			  error: function(data)
			  { alert("Server Side Issue. Please try again.");
			  }
			});
            }
			
			function isValid(input)
			{
				if(input== undefined || input == null)
					return false;
				return true;
			}
        </script>

	</head>
	<body>    
        {{wrapperElementStart}}

		<div id="teamDetails" style="display:none">
				<div id="currentQuestionDiv">Team Current Question <b id="currentQuestion">-100</b></div> <br>
				Team: <b id="teamName">''''<b>
		</div>
		<div id="countDownBox">{{countDownBoxMarkUp}}</div>

			<div id="resultDiv" style="display:none">
				 <div id="correct" style="display:none">
					<font size="5" color="##00FF00">	Good Answer. Next Question is ...<br><br> </font>
		   </div>
           <div id="wrong" style='display:none'>
		       <font size="5" color="#990000"> Not a correct Answer. Please try again..<br><br> </font>
		   </div>
		   <div id="allDone" style='display:none'>
		          <font size="5"> Thanks for participating. All questions are SOLVED !!! </font>
		   </div>
		   </div>
        <div id="mainContent" style="display:none">
          
           <form id="questionForm">
               <div id="question">
						<input type="hidden" name="requestType" value="checkUserSolution">
						<input type="hidden" id="teamCode" name="teamCode" value="checkUserSolution">
						<input type="hidden" id="_current_question_id" name="_current_question_id" value="-1">
						<input type="hidden" id="submit_timestamp" name="submit_timestamp" value="-1">
                     <textarea rows="7" cols="75" id="questionTA" name="questionArea" readonly  disabled="disabled">Question is...</textarea>
               </div>
			   <br><br>
			   
			   <div id="testcase">
			   <br/>
				<a id ="testcaselink" href="../database/testcase1.codathon.zip"><img src="../images/unsolved.png" title="Test Cases"/>Download Test Cases</a> <br/><br/>
			   </div>
               <div id="solution">                  
					<textarea rows="3" cols="25" id="userSol" name="usersolution" >Your Answer here..</textarea>		
					<br/>	   </br>	                   
               </div>

               <div id="submit">
					<input type="button" id="submit" value="Submit" onClick="checkSolution(true)"/>
               </div>
           </form>
		</div>
		<div id="contestState">{{contestState}}</div>		
        {{wrapperElementEnd}}
        {{footerElement}}
<script type="text/javascript">
$(document).ready(function(){
	//checkSolution();
    $("#userSol").click(function() {
  $('#userSol').val('');
});
});
</script>

	</body>
</html>
